/* media-query */
html {
  font-size: calc(10 * 100vw /390);
}

@media (min-width:768px) {
    html {
      font-size: calc(10 * 100vw / 1200);
    }
}

@media (min-width:1200px) {
    html {
      font-size: 62.5%;
    }
}

body {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.87; /* 15/28 */
  color: #000000;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  opacity: 0.6;
}

li, ol {
  list-style: none;
}

/* TOPセクション */
.Top {
  height: 55.7rem;
}
@media (min-width:768px) {
  .Top {
    height: 72rem;
  }
}

.Top__img {
  background-image: url(../image/main.jpg) ;
  background-size: cover;
  background-position: center;
  height: 45rem;
  margin: 0 auto ;
}
@media (min-width:768px) {
  .Top__img {
    height: 100%;
    background-image: url(../image/main_pc.jpg) ;
    background-size: cover;
    background-position: center;
  }
}

.Top__img--title{
  font: 400 2.4rem/1.25 "Marcellus", serif;
  letter-spacing: 0.2em;
  padding-top: 2.4rem;
  text-align: center;
}
@media (min-width:768px) {
  .Top__img--title{
    font: 400 2.8rem "Marcellus", serif;
    padding-top: 3.2rem;
  }
}

@media (min-width:768px) {
  .Top__comp{
    max-width: 120rem;
    width: 120rem;
    margin: 0 auto;
  }
}

.Top__title {
  font: 400 4.1rem "Marcellus", serif;
  letter-spacing: 0.3em;
  margin: 36.4rem 0 0.8rem 2.3rem;
}
@media (min-width:768px) {
  .Top__title {
    font: 400 5rem "Marcellus", serif;
    margin: 20.5rem auto 1rem 7.3rem;
  }
}

.Top__txt {
  font-size: 2rem;
  letter-spacing: 0.3em;
  margin-left: 2.3rem;
}
@media (min-width:768px) {
  .Top__txt {
    font-size: 2.5rem;
    margin-left: 7.3rem;
  }
}

/* 購入ボタンセクション */

.shop {
  width: 35.8rem;
  height: 26.1rem;
  margin: 5rem auto;
  background-color: #f0f4ff;
  padding: 2rem 0;
}
@media (min-width:768px) {
  .shop {
    width: 100rem;
    height: 14.6rem;
    margin: 4.8rem auto;
    padding: 4rem 4.8rem;
    background-color: #f0f4ff;
    display: flex;
    align-items: center;
  }
}

.shop__title {
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-align: center;
}
@media (min-width:768px) {
  .shop__title {
    font-size: 2.4rem;
    text-align: left;
    width: 21.1rem;
  }
}

.shop__cost {
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-align: center;
}
@media (min-width:768px) {
  .shop__cost {
    font-size: 1.6rem;
    text-align: left;
  }
}

.shop__button--blue {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #46c4db;
  width: 30rem;
  height: 5.8rem;
  display: block;
  margin: 2rem auto;
  border-radius: 2.9rem;
}
@media (min-width:768px) {
  .shop__button--blue {
    margin: 0 3.2rem 0 6.4rem;
  }
}

.shop__button--green {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #5dd5ab;
  width: 30rem;
  height: 5.8rem;
  display: block;
  margin: 2rem auto;
  border-radius: 2.9rem;
}
@media (min-width:768px) {
  .shop__button--green {
    margin: 0 auto;
  }
}

button a {
  color: #ffffff;
}

.greenbg {
  background-image: url(../image/cream.jpg) ;
  background-size: cover;
  background-position: center;
  height: 68rem;
  padding: 4.8rem 1.6rem;
  margin-bottom: 5rem;
}
@media (min-width:768px) {
  .greenbg {
    background-image: url(../image/cream_pc.jpg) ;
    height: 55rem;
    padding: 12.7rem 0 12.7rem 0;
  }
}

@media (min-width:768px) {
  .greenbg__comp {
    max-width: 120rem;
    width: 120rem;
    margin: 0 auto;
  }
}

@media (min-width:768px) {
  .greenbg__container {
    width: 46.7rem;
    height: 29.6rem;
    margin-left: 67.9rem;
    margin-right: 5.4rem;
  }
}

.greenbg__title {
  color: #ffffff;
  font: 700 3rem "EB Garamond";
  text-align: center;
}
@media (min-width:768px) {
  .greenbg__title {
    font-size: 3.8rem;
    text-align-last: left;
  }
}

.greenbg__subtitle{
  font-weight: 600;
  font-size:  2.4rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width:768px) {
  .greenbg__subtitle{
    text-align: left;
    margin-bottom: 2.4rem;
  }
}

.greenbg__txt {
  font-weight: 400;
  font-size:  1.4rem;
  color: #ffffff;
  width: 35.8rem;
  margin: 0 auto;
}
@media (min-width:768px) {
  .greenbg__txt {
    margin: unset;
    width: 42.9rem;
  }
}


/* voiceセクション */
.voice {
  width: 35.8rem;
  height: 47.1rem;
  margin: 0 auto;
}
@media (min-width:768px) {
  .voice {
    width: 115.6rem;
    height: 55.6rem;
  }
}

.voice__title {
  font: 700 3rem "EB Garamond";
  text-align: center;
  letter-spacing: 0.05em;
}
@media (min-width:768px) {
  .voice__title {
    font: 700 4.5rem "EB Garamond";
  }
}

.voice__subtitle {
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 3.6rem;
}
@media (min-width:768px) {
  .voice__subtitle {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 4rem;
  }
}

.swiper {
  border: blue solid 1px;
}

/* @media (min-width:768px) { */
.swiper--wrapper {
  /* wrapperのサイズを調整 */
  border: red solid 1px;
}

.swiper-card {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  background-color: #dbf7f9;
  width: 28rem;
  height: 34.4rem;
  margin: 0 auto;
  padding: 2.8rem 0;
}

.swiper-img {
  background-image: url(../image/person_b.jpg);
  background-size: cover;
  background-position: 40% 10%;
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  border-radius: 50%;
}

.swiper-card p {
  margin-top: 0.8rem;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  margin-bottom: 2rem;
  text-align: center;
}
@media (min-width:768px) {
  .swiper-card p {
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
  }
}

.swiper-txt {
  font-weight: 400;
  font-size: 1.4rem;
  width: 25rem;
  margin: 0 auto;
}
@media (min-width:768px) {
  .swiper-txt {
    font-size: 1.6rem;
    width: 26.8rem;
  }
}

.swiper-button-prev, .swiper-button-next {
  background-size: contain;
  background-position: center;
  width: 3.2rem;  /* 画像のサイズに合わせて調整 */
  height: 3.2rem; /* 画像のサイズに合わせて調整 */
}
.swiper-button-prev {
  background-image: url(../image/arrow-left-circle-fill.png); /* prevボタンの画像 */
}
.swiper-button-next {
  background-image: url(../image/arrow-right-circle-fill.png); /* nextボタンの画像 */
}

/* デフォルトの背景画像を削除 */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
/* } */
/* .voice {
  width: 35.8rem;
  height: 47.1rem;
  margin: 0 auto;
}
@media (min-width:768px) {
  .voice {
    width: 115.6rem;
    height: 55.6rem;
  }
}

.voice__title {
  font: 700 3rem "EB Garamond";
  text-align: center;
  letter-spacing: 0.05em;
}
@media (min-width:768px) {
  .voice__title {
    font: 700 4.5rem "EB Garamond";
  }
}

.voice__subtitle {
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 3.6rem;
}
@media (min-width:768px) {
  .voice__subtitle {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 4rem;
  }
}

.voice__content {
  display: flex;
  align-items: flex-start;
  height: 34.4rem;
  justify-content: center;
}
@media (min-width:768px) {
  .voice__content {
    height: 38.8rem;
    width: 100%;
  }
}
.js-profile {
  width: 28rem;
  height: 100%;
  margin: 0 auto;
  background-color: #dbf7f9;
  border: 1px solid transparent
}
@media (min-width:768px) {
  .js-profile {
    width: 30rem;
    height: 100%;
    margin: 0 2rem;
  }
}


.voice__content--left, .voice__content--right {
  cursor: pointer;
  margin-top: 16rem;
  width: 3.2rem;
  height: 3.2rem;
}
@media (min-width:768px) {
  .voice__content--left, .voice__content--right {
    margin: 15rem 0 4rem;
    width: 4.8rem;
    height: 4.8rem;
  }
}

.js-profile {
  display: none;
}

.js-profile.js-active {
  display: block;
}

.voice__content__square--pic1 {
  background-image: url(../image/person_a.jpg);
  background-size: cover;
  background-position: center;
  width: 8rem;
  height: 8rem;
  margin: 2.8rem 9.5rem 0.8rem 10.5rem;
  border-radius: 50%;
}

.voice__content__square--pic2 {
  background-image: url(../image/person_b.jpg);
  background-position: 40% 10%;
  background-size: cover;
  width: 8rem;
  height: 8rem;
  margin: 2.8rem 9.5rem 0.8rem 10.5rem;
  border-radius: 50%;
}

.voice__content__square--pic3 {
  background-image: url(../image/person_c.jpg);
  background-position: 60% 10%;
  background-size: cover;
  width: 8rem;
  height: 8rem;
  margin: 2.8rem 9.5rem 0.8rem 10.5rem;
  border-radius: 50%;
}

.voice__content__square--pic4 {
  background-image: url(../image/person_d.jpg);
  background-position: 40% 10%;
  background-size: cover;
  width: 8rem;
  height: 8rem;
  margin: 2.8rem 9.5rem 0.8rem 10.5rem;
  border-radius: 50%;
}

.voice__content__square--pic5 {
  background-image: url(../image/person_e.jpg);
  background-position: 40% 10%;
  background-size: cover;
  width: 8rem;
  height: 8rem;
  margin: 2.8rem 9.5rem 0.8rem 10.5rem;
  border-radius: 50%;
}

.voice__content__square--pic6 {
  background-image: url(../image/person_f.jpg);
  background-position: 40% 10%;
  background-size: cover;
  width: 8rem;
  height: 8rem;
  margin: 2.8rem 9.5rem 0.8rem 10.5rem;
  border-radius: 50%;
}

.js-profile p {
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  margin-bottom: 2rem;
  text-align: center;
}
@media (min-width:768px) {
  .js-profile p {
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
  }
}

.voice__content__square--txt {
  font-weight: 400;
  font-size: 1.4rem;
  width: 25rem;
  margin: 0 auto;
}
@media (min-width:768px) {
  .voice__content__square--txt {
    font-size: 1.6rem;
    width: 26.8rem;
  }
}
/* Q&Aセクション */

.question {
  background: linear-gradient(to right, #f4ffe8, #c6f0fe);
  margin-top: 5rem;
  padding: 3.2rem 1.6rem;
}
@media (min-width:768px) {
  .question {
  padding: 4rem;
  }
}

.question__title {
  font: 700 3rem "EB Garamond";
  letter-spacing: 0.05em;
  text-align: center;
}
@media (min-width:768px) {
  .question__title {
    font: 700 4.5rem "EB Garamond";
  }
}

.question__txt {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 3.7rem;
}
@media (min-width:768px) {
  .question__txt {
    font-size: 2rem;
    margin-bottom: 4rem;
  }
}

.question__container {
  width: 35.8rem;
  margin: 0 auto 2rem auto;
  background-color: #ffffff;
  cursor: pointer;
  padding: 2rem 1.6rem 0 1.66rem;
  border: 1px solid transparent
}
@media (min-width:768px) {
  .question__container {
    width: 60rem;
    margin: 0 auto 2.4rem auto;
    padding: 2.4rem 2.5rem;
  }
}

.question__container__txt--q {
  font: 400 1.6rem/2 "EB Garamond";
  letter-spacing: 0.05em;
}

.question__container__txt {
  display: flex;
  gap: 1.0rem;
  margin-bottom: 1.9rem;
}
@media (min-width:768px) {
  .question__container__txt {
    gap: 1.4rem;
  }
}

.question__container__txt--a {
  font-size: 1.5rem;
}
@media (min-width:768px) {
  .question__container__txt--a {
    width: 49.1rem;
  }
}

.question__container__txt--b {
  font-size: 1.5rem;
}
@media (min-width:768px) {
  .question__container__txt--b {
    width: 51.8rem;
  }
}

.question__container__txt--tag1 {
  display: none;
  line-height: 3.5;
}
@media (min-width:768px) {
  .question__container__txt--tag1 {
    line-height: 3.1;
  }
}

.question__container__txt--tag2 {
  display: block;
  line-height: 3.5;
}
@media (min-width:768px) {
  .question__container__txt--tag2 {
    line-height: 3.1;
  }
}

.js-txt1, .js-txt2, .js-txt3, .js-txt4, .js-txt5 {
  display: none;
}

/* footer */

.footer img {
  width: 4rem;
  height: 4rem;
  display: block;
  margin-left: auto;
  margin-right: 1.6rem;
}

.footer__container {
  background-color: #0071ce;
  padding: 2.4rem 4.5rem;
}
@media (min-width:768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__container__title {
  font: 400 2.8rem 'Marcellus';
  color: #ffffff;
  letter-spacing: 0.2em;
  text-align: center;
}
@media (min-width:768px) {
  .footer__container__title {
    margin: 3.2rem 20.6rem 3.2rem 18.2rem;
    font: 400 3.2rem 'Marcellus';
  }
}

.footer__container__menu {
  display: flex;
  width: 30rem;
  margin: 2.4rem 0 2.5rem;
  justify-content: center;
  gap: 3rem;
}
@media (min-width:768px) {
  .footer__container__menu {
    margin: unset;
    width: 34.4rem;
  }
}

.footer__container__menu a {
  color: #ffffff;
  font-size: 1.2rem;
}
@media (min-width:768px) {
  .footer__container__menu a {
    font-size: 1.4rem;
  }
}

.footer__container p {
  color: #ffffff;
  font-size: 1.1rem;
  text-align: center;
}
@media (min-width:768px) {
  .footer__container p {
    font-size: 1.2rem;
  }
}









