/* media-query */
html {
  font-size: calc(10 * 100vw /375);
}

@media (min-width:768px) {
    html {
      font-size: calc(10 * 100vw / 1200);
    }
}

@media (min-width:1200px) {
    html {
      font-size: 62.5%;
    }
}

body {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.87; /* 15/28 */
  color: #333333;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  opacity: 0.6;
}

li, ol {
  list-style: none;
}

/* @media (max-width:767px) {
}
@media (min-width:768px) {
} */

/* TOPセクション */

.Top {
  width: 39rem;
  border: solid 1px;
}

.Top__img {
  background-image: url(../image/nora-topic.jpg) ;
  background-size: cover;
  background-position: center;
  height: 45rem;
}

.Top__img--title{
  font: 400 2.4rem/1.25 "Marcellus", serif;
  letter-spacing: 0.2em;
  padding-top: 2.4rem;
  text-align: center;
}

.Top__title {
  font: 400 4.1rem "Marcellus", serif;
  letter-spacing: 0.3em;
  margin: -3.2rem 0 0.8rem 2.3rem;
}

.Top__txt {
  font-size: 2rem;
  letter-spacing: 0.3em;
  margin-left: 2.3rem;
}


/* 購入ボタンセクション */

.shop {
  width: 35.8rem;
  height: 26.1rem;
  margin: 5rem auto;
  background-color: #f0f4ff;
  padding: 2rem 0;
}

.shop__title {
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-align: center;
}

.shop__cost {
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-align: center;
}

.shop__button--blue {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #46c4db;
  width: 30rem;
  height: 5.8rem;
  display: block;
  margin: 2rem auto;
  border-radius: 2.9rem;
}

.shop__button--green {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #5dd5ab;
  width: 30rem;
  height: 5.8rem;
  display: block;
  margin: 2rem auto;
  border-radius: 2.9rem;
}

button a {
  color: #ffffff;
}

.greenbg {
  background-image: url(../image/pmv-chamara.jpg) ;
  background-size: cover;
  background-position: center;
  height: 68rem;
  padding: 4.8rem 1.6rem;
  margin-bottom: 5rem;
}

.greenbg__title {
  color: #ffffff;
  font: 700 3rem "EB Garamond";
  text-align: center;
}

.greenbg__subtitle{
  font-weight: 600;
  font-size:  2.4rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
}

.greenbg__txt {
  font-weight: 400;
  font-size:  1.4rem;
  color: #ffffff;
  width: 35.8rem;
  margin: 0 auto;
}

.voice {
  width: 35.8rem;
  height: 47.1rem;
  margin: 0 auto;
  border: solid 1px;
}

.voice__title {
  font: 700 3rem "EB Garamond";
  text-align: center;
  letter-spacing: 0.05em;
}

.voice__subtitle {
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 3.6rem;
}

.voice__content {
  display: flex;
  align-items: baseline;
}

/* jquery */
.js-profile {
  width: 28rem;
  height: 34.4rem;
  margin: 0 auto;
  background-color: #dbf7f9;
  border: 1px solid transparent
}

.voice__content--left, .voice__content--right {
  cursor: pointer;
}

.js-profile {
  display: none;
}

.js-profile.js-active {
  display: block;
}

.voice__content__square--pic1 {
  background-image: url(../image/person_a.jpg);
  width: 8rem;
  height: 8rem;
  margin: 2.8rem 9.5rem 0.8rem 10.5rem;
  border-radius: 50%;
}

.voice__content__square--pic2 {
  background-image: url(../image/person_b.jpg);
  background-position: 40% 10%;
  width: 8rem;
  height: 8rem;
  margin: 2.8rem 9.5rem 0.8rem 10.5rem;
  border-radius: 50%;
}
.voice__content__square--pic3 {
  background-image: url(../image/person_c.jpg);
  background-position: 40% 10%;
  width: 8rem;
  height: 8rem;
  margin: 2.8rem 9.5rem 0.8rem 10.5rem;
  border-radius: 50%;
}
.voice__content__square--pic4 {
  background-image: url(../image/person_d.jpg);
  background-position: 40% 10%;
  width: 8rem;
  height: 8rem;
  margin: 2.8rem 9.5rem 0.8rem 10.5rem;
  border-radius: 50%;
}
.voice__content__square--pic5 {
  background-image: url(../image/person_e.jpg);
  background-position: 40% 10%;
  width: 8rem;
  height: 8rem;
  margin: 2.8rem 9.5rem 0.8rem 10.5rem;
  border-radius: 50%;
}

.js-profile p {
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  margin-bottom: 2rem;
  text-align: center;
}

.voice__content__square--txt {
  font-weight: 400;
  font-size: 1.4rem;
  width: 25rem;
  margin: 0 auto;
}



.question {
  border: solid 1px;
  background: linear-gradient(to right, #007BFF, #4fa6fd);

}






